* {
    box-sizing: border-box;
}

body {
    font-family:'Open Sans', sans-serif;
    margin:0;
    padding: 0;
    background-color: aliceblue;
}

nav {
    background-color:#490101;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

ul li {
    color:whitesmoke;
    font-weight: bold;
}

ul li:last-child{
    padding-left: 10px;;
}

ul img {
    width: 50px;
    height: 50px;
    border-radius: 100%;

}

.container {
    background-color: pink;
    border-radius: 10px;
    width: 600px;
    padding: 10px 20px;
    margin:10px 5px;
}

.heading {
    color:#490101;
}

.item-details {
    display: flex;
    flex-direction: row;
}

.row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}
.items-table {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}

.order-container {
    display: flex;
    flex-direction: column
}

.each-item-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #49010185;
    margin-bottom: 0;
}

.item {
    display: flex;
    flex-direction: column;
    margin:0;
    padding: 0;
}

.item-name {
    color:black;
    margin-bottom: 0;
    
}
.item-flavor{
    font-size: 10px;
    color:#490101;
    margin-top: 0;
}

.order-group,
.card-number-group,
.ccv-number-group {
    position: relative;
    display: inline-block;
}

.order-name-input,
.card-number-input,
.ccv-number-input {
    border-color: #49010185;
    padding: 8px;
    border-radius: 10px;
    width: 500px;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    background-color: pink;
}

.order-name-label,
.card-number-label,
.ccv-number-label {
    background-color: pink;
    color:#490101;
    font-size: 11px;
    position: absolute;
    left: 25px;
    top: -1px;
    padding: 0 2px;
    font-size: 15px;
}

.row2 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.item1-price {
    display: flex;
    justify-content: center;
    padding-left:20px ;
}

.item1-price > p {
    padding-right: 20px;
}

.item1-price:first-child {
    padding-left: 0;
}
.item1-price:last-child {
    padding-left: 0;
}

.item1-price .total {
    font-weight: bold;
}

.order {
    background-color: pink;
    width: 60%;
    padding: 10px 20px;
    margin: 10px auto;
    border-radius: 100px;
    display: block;
    border: none;
    font-weight: bold;
    font-size: 14px;
    color:#490101;
    font-family: inherit;
}
